@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/*font-family     : 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Mulish&display=swap');
/*font-family     : 'Dosis', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
/*font-family     : 'Cuprum', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=El+Messiri&display=swap');
/*font-family     : 'Cuprum', sans-serif;
font-family       : 'El Messiri', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Zen+Kurenaido&display=swap');
/*font-family     : 'PT Sans Narrow', sans-serif;
font-family       : 'Zen Kurenaido', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
/*font-family     : 'Shippori Antique', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*font-family     : 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow:ital,wght@0,100;1,100&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@200&family=Poppins:wght@700&display=swap');
/*font-family     : 'Acme', sans-serif;
font-family       : 'Barlow', sans-serif;
font-family       : 'Montserrat', sans-serif;
font-family       : 'Montserrat Alternates', sans-serif;
font-family       : 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
/*font-family: 'Exo 2', sans-serif;*/

body {
    background     : #191c2d;
    color          : #000;
    text-decoration: none;
    margin         : 0;
    padding        : 0;
    font-family    : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/********************début Scrollbar****************/

.scrollbar {
    position  : absolute;
    top       : 0px;
    right     : 0;
    height    : calc(100vh - 0px);
    width     : 100%;
    overflow-y: scroll;
}

#wrapper {
    text-align: center;
    width     : 500px;
    margin    : auto;
}

#scrollp::-webkit-scrollbar-track {
    background-color: #1d1d1d00;
}

#scrollp::-webkit-scrollbar {
    width           : 1px;
    background-color: #1d1d1d00;
}

#scrollp::-webkit-scrollbar-thumb {
    background-color: #404fef;
}

/********************fin Scrollbar****************/

.loginp {
    margin-top: 15vh;
    height: auto;
    background: #191c2d;
    font-family: poppins,sans-serif;
}

.loginp .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.loginp .container img {
    width: 70px;
    height: 70px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.loginp .container h3 {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
}

.auth {
    display: flex;
    height: auto;
    width: 100%;
    background: #191c2d;
}
.auth .container {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    background: #171929;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}

.auth .container .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.auth .container .login-form font {
    font-family: 'Exo 2', sans-serif;
    color: #fff;
}

.auth .container .login-form input {
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5px;
    margin-bottom: 10px;
    background: #2a304d;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
}

.auth .container .login-form button {
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5px;
    margin-bottom: 10px;
    background: #2b46ed;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
}

.auth .container .login-form a {
    text-align: center;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    color: #2b46ed;
    padding: 2.5px;
    width: 100%;
    height: 30px;
}