@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/*font-family     : 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Mulish&display=swap');
/*font-family     : 'Dosis', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
/*font-family     : 'Cuprum', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=El+Messiri&display=swap');
/*font-family     : 'Cuprum', sans-serif;
font-family       : 'El Messiri', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Zen+Kurenaido&display=swap');
/*font-family     : 'PT Sans Narrow', sans-serif;
font-family       : 'Zen Kurenaido', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
/*font-family     : 'Shippori Antique', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*font-family     : 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barlow:ital,wght@0,100;1,100&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@200&family=Poppins:wght@700&display=swap');
/*font-family     : 'Acme', sans-serif;
font-family       : 'Barlow', sans-serif;
font-family       : 'Montserrat', sans-serif;
font-family       : 'Montserrat Alternates', sans-serif;
font-family       : 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
/*font-family: 'Exo 2', sans-serif;*/

body {
    background     : #191c2d;
    color          : #000;
    text-decoration: none;
    margin         : 0;
    padding        : 0;
    font-family    : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/********************début Scrollbar****************/

.scrollbar {
    position  : absolute;
    top       : 0px;
    right     : 0;
    height    : calc(100vh - 0px);
    width     : 100%;
    overflow-y: scroll;
}

#wrapper {
    text-align: center;
    width     : 500px;
    margin    : auto;
}

#scrollp::-webkit-scrollbar-track {
    background-color: #1d1d1d00;
}

#scrollp::-webkit-scrollbar {
    width           : 1px;
    background-color: #1d1d1d00;
}

#scrollp::-webkit-scrollbar-thumb {
    background-color: #404fef;
}

/********************fin Scrollbar****************/

.section {
    width     : 100%;
    height    : auto;
    display   : flex;
    flex-wrap : wrap;
    box-shadow: #000 0px 0.5px 10px 0px;
}

.header {
    height     : 70px;
    width      : 100%;
    background : #1c2033;
    font-family: poppins, sans-serif;
    position   : fixed;
    top        : 0;
    left       : 0;
    z-index    : 1;
}

.header .container {
    display     : flex;
    flex-wrap   : wrap;
    height      : 50px;
    margin-left : auto;
    margin-right: auto;
    margin-top  : 10px;
}

.header .container .icon {
    height: auto;
    width : auto;
}

.header .container .icon span {
    color      : #fff;
    font-family: 'Acme', sans-serif;
    font-size  : 20px;
    position   : relative;
    top        : -17px;
    margin-left: 5px;
}

.header .container .icon img {
    height     : 50px;
    width      : 50px;
    margin-left: 8px;
}

.header .container ul {
    list-style    : none;
    display       : flex;
    flex-direction: row;
}

.header .container ul li {
    text-decoration: none;
    margin-left    : 10px;
    margin-right   : 10px;
}

.header .container ul li a {
    margin-left    : 30px;
    margin-right   : 30px;
    color          : #fff;
    text-decoration: none;
    font-family    : 'Acme', sans-serif;
    font-weight    : 500;
}

.login {
    color          : #fff;
    text-decoration: none;
    font-family    : 'Acme', sans-serif;
    font-weight    : 500;
    height         : 20px;
    padding        : 10px 20px 10px 20px;
    background     : #3d4670;
    border-radius  : 10px;
    margin-top     : 5px;
    position       : absolute;
    right          : 10px;
}

/*-- Mobile --*/
.container-mobile {
    display     : none;
    flex-wrap   : wrap;
    height      : 50px;
    margin-left : auto;
    margin-right: auto;
    margin-top  : 10px;
}

.container-mobile button {
    height       : 40px;
    width        : 60px;
    margin-top   : 5px;
    position     : absolute;
    right        : 15px;
    border-radius: 5px;
    background   : #1c2033;
    border       : none;
    color        : #fff;
    box-shadow   : rgba(0, 0, 0, 0.425) 0px 0.5px 5px 0px;
}

.container-mobile .icon {
    height: auto;
    width : auto;
}

.container-mobile .icon span {
    color      : #fff;
    font-family: 'Acme', sans-serif;
    font-size  : 20px;
    position   : relative;
    top        : -17px;
    margin-left: 5px;
}

.container-mobile .icon img {
    height     : 50px;
    width      : 50px;
    margin-left: 8px;
}


/*-- Code page --*/
.dropdown {
    display: inline-block;
}

.drop-content {
    display         : none;
    position        : absolute;
    background : #191c2d;
    min-width       : 160px;
    overflow        : auto;
    box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index         : 1;
    top             : 68px;
    width           : 100%;
    left            : 0;
}

.drop-content a {
    color          : #fff;
    padding        : 12px 16px;
    text-decoration: none;
    display        : block;
    text-align     : center;
}

.dropdown a:hover {
    background: #7e7e7e;
}

.show {
    display: block;
}

/*-- Code page --*/

.mentions {
    display: flex;
    height: auto;
    width: 100%;
    background: #191d2e;
}

.footer {
    height: 90px;
    background: #191d2e;
    font-family: poppins,sans-serif;
}

.footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 20px 20px 20px;
    justify-content:space-evenly;
    width: 100%;
}

.footer .container p {
    font-weight: 700;
    font-size: 13px;
    color: #676a6c;
}
.footer .container p a {
    margin-left: 6px;
    transition-duration: .6s;
}

.claim-left a {
color: #676a6c;
    text-decoration:none;
}
.claim-left a:hover {
    color: #adadad;
}

.claim-right a:hover {
    color: #ff3535;
}

@media screen and (max-width: 1280px) {
    .container-mobile {
        display: flex;
    }
    
    .header .container {
        display: none;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px 20px 20px 20px;
        text-align: center;
        width: 100%;
    }
    .claim-left {
        margin-top: 0px;
    }
    .claim-right {
        margin-top: -16px;
    }
}
